In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/BART/date-hour-soo-dest-2025.csv')
df

         2025-01-01   0  12TH  16TH  1
0        2025-01-01   0  12TH  ANTC  1
1        2025-01-01   0  12TH  BALB  1
2        2025-01-01   0  12TH  BERY  1
3        2025-01-01   0  12TH  CIVC  8
4        2025-01-01   0  12TH  COLS  2
...             ...  ..   ...   ... ..
8474002  2025-12-02  23  WOAK  CIVC  3
8474003  2025-12-02  23  WOAK  EMBR  5
8474004  2025-12-02  23  WOAK  HAYW  1
8474005  2025-12-02  23  WOAK  MONT  1
8474006  2025-12-02  23  WOAK  POWL  4

[8474007 rows x 5 columns]