In [1]:
import pandas as pd

In [1]:
df_pqt = pd.read_parquet(
    'data/UrbanBus/Feb_2018/2018-02-01.parquet',
    engine='pyarrow'
)
df_pqt

,Card_Number,Card_Type,Travel_Mode,Bus_Service_Number,Direction,Bus_Trip_Num,Bus_Reg_Num,Boarding_stop_stn,Alighting_stop_stn,Ride_start_date,Ride_start_time,Ride_end_date,Ride_end_time
0,6448,A,Bus,SER_52f1,Start,TRIP_fbd0,REG_7e17,CG_1,AFI_1,2018-02-01,0 days 12:16:15,2018-02-01,0 days 12:26:51
1,7029,S,Bus,SER_52f1,Start,TRIP_a19a,REG_2d81,DGE_1,FN_1,2018-02-01,0 days 14:47:27,2018-02-01,0 days 14:56:48
2,7348,SC,Bus,SER_52f1,Start,TRIP_b7ed,REG_2d81,IU_2,IW_1,2018-02-01,0 days 21:23:50,2018-02-01,0 days 21:24:34
3,7475,A,Bus,SER_52f1,Start,TRIP_f1e4,REG_5cc3,AFI_1,CGP_1,2018-02-01,0 days 22:00:54,2018-02-01,0 days 22:24:01
4,7708,SC,Bus,SER_52f1,Start,TRIP_a19a,REG_a4f0,IU_2,JH_1,2018-02-01,0 days 12:58:21,2018-02-01,0 days 13:00:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6461988,184084274,A,Bus,SER_620c,Start,TRIP_fbd0,REG_b8cc,AD_1,BQM_1,2018-02-01,0 days 19:25:17,2018-02-01,0 days 19:36:56
6461989,184084276,A,Bus,SER_620c,Start,TRIP_7b1b,REG_bc2c,ANO_1,AZH_1,2018-02-01,0 days 17:57:05,2018-02-01,0 days 18:20:58
6461990,184084277,A,Bus,SER_620c,Start,TRIP_b7ed,REG_90dc,BVZ_1,CJT_1,2018-02-01,0 days 16:18:37,2018-02-01,0 days 16:58:58
6461991,184084278,SC,Bus,SER_620c,Start,TRIP_fbd0,REG_b8cc,ND_2,KG_1,2018-02-01,0 days 19:07:08,2018-02-01,0 days 19:10:28
6461992,184084279,A,Bus,SER_620c,Start,TRIP_8ab3,REG_bc2c,BJI_1,BFK_1,2018-02-01,0 days 14:26:53,2018-02-01,0 days 14:38:10